html {
  scroll-padding-top: 80px; /* adjust to match navbar height */
}

.navbar {
  margin: 0 auto;
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  width: 80%;
  height: 66px;
  justify-content: center;
  align-items: center;
  gap: 5vw;

  border-radius: 50px;
  background: #f8f8f8;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5vw;
  list-style-type: none;
}

.nav-link {
  all: unset;
  color: #26170a;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition: color 0.3s ease;
}

.nav-link:hover {
  cursor: pointer;
  color: #895425;
}

.logo {
  height: auto;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.donateButton {
  align-self: center;
  align-items: center;
  align-content: center;

  display: flex;
  width: 6vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border-radius: 30px;
  background: #d66c38;
  position: absolute;
  right: 2rem;

  transition: background 0.3s ease;
}

.donateButton p {
  color: #fff;
  font-family: Inter;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.donateButton:hover {
  cursor: pointer;
  background: #f47b3e;
}

@media (max-width: 900px) {

  .navbar {
    height: 6.5vw;
  }
  
  .nav-link {
    font-size: 1.5vw;
  }

  .logo {
  width: 3vw;
  height: auto;
  }

}

@media (max-width: 700px) {

  .navbar {
    justify-content: flex-start;
  }

  .nav-links {
    margin-left: 10vw;
  }

}

@media (max-width: 500px) {
  .nav-links {
    margin-left: 6vw;
  }
}
